$desk:1200px;
$table:900px;
$mobile:665px;


$white:#FFFFFF;
$grey:#999999;
$black:#000000;
$blue:#5373FD;
$brown: #333333;
$rubyRed: #9B111E;
$lighBlue:#11449B;
$dark1:#283046;
$dark2: #161D31;

$RobotoSlab:'Roboto Slab', serif;
$Lucky: 'Luckiest Guy', cursive;
$serif: "PT Serif", serif;